.btn-signup {
    background-color: #ff914d; /* Button color */
    color: rgb(255, 255, 255); /* Text color */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; 
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it behave like a button */
    font-size: 1rem; /* Font size */
    
}

.nav-link-large {
    font-size: 1.5rem; /* Adjust the size as needed */
    padding-left: 15px; 
    margin-right: 20px; 
}

/* Ensure the navbar scrolls with the page */
.navbar {
    position: relative; /* Change from fixed/sticky to relative */
    width: 100%; /* Full width */
    background-color: white; /* Keep background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 1000; /* Ensure it's above other elements */
}